.rheder{
    background-image: linear-gradient(rgba(0, 0, 0, 0.829), rgba(0, 0, 0, 0.829)), url(./ba1.jpg);
    background-position: center;
    background-size: cover;
    height: 770px;
}




.div_ff{
   
    justify-content:center !important;
   
}
 input{
    width: 200px;
    height: 50px;  
 }


 .bg_danger{
    background-color: rgba(2, 39, 44, 0.959);
   

 }
 .bg_danger a{
    text-decoration: none;
    
 }

 
 


